body{
    height: 100vh;
    box-sizing: border-box;
    background-color: aquamarine;
}

@media (min-width: 50px) and (max-width: 468px){
}

@media (min-width: 469px) and (max-width: 768px){
}
@media (min-width: 769px) and (max-width: 1200px){
}